#include "SAA_pins.dtsi"
#include "SAA_layout.dtsi"
#include "SAA_led.dtsi"
#include "SAA_oled.dtsi"

/ {
	chosen {
		zmk,battery = &vbatt;
	};

	behaviors {
		dbg_tog: debug_toggle {
			compatible = "zmk,behavior-debug-toggle";
			#binding-cells = <0>;
			display-name = "Debug Toggle";
		};

		saa_mod: saa_module_select {
			compatible = "saa,behavior-module-select";
			#binding-cells = <1>;
			display-name = "SAA Module Select";
		};
	};

	// Encoders
	left_encoder: left_encoder {
		compatible = "alps,ec11";
		status = "disabled";
	};

	right_encoder: right_encoder {
		compatible = "alps,ec11";
		status = "disabled";
	};

	sensors: sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&left_encoder &right_encoder>;
	};

	vbatt: vbatt {
		io-channels = BATTERY_CHANNEL;
		power-gpios; // unset
		output-ohms = <470000>;
		full-ohms = <(1000000 + 470000)>;
		// For Ni-Mh 1U
		mv-to-pct-thresholds = <1100 1150 1200 1220 1240 1260 1280 1300 1320 1350 1400>;
	};
};

&adc {
	status = "okay";
};
