#include "SAA_pins.dtsi"
#include "SAA_layout.dtsi"
#include "SAA_led.dtsi"
#include "SAA_oled.dtsi"
#include <dt-bindings/saa/module_select.h>
#include <dt-bindings/zmk/input_module.h>

/ {
	chosen {
		zmk,battery = &vbatt;
	};

	behaviors {
		dbg_tog: debug_toggle {
			compatible = "zmk,behavior-debug-toggle";
			#binding-cells = <0>;
			display-name = "Debug Toggle";
		};

		saa_mod: saa_module_select {
			compatible = "zmk,behavior-input-module-select";
			#binding-cells = <1>;
			display-name = "Input Module Select";
		};
	};

	// Encoders
	left_encoder: left_encoder {
		compatible = "alps,ec11";
		status = "disabled";
	};

	right_encoder: right_encoder {
		compatible = "alps,ec11";
		status = "disabled";
	};

	sensors: sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&left_encoder &right_encoder>;
	};

	saa_module_mux: module_mux {
		compatible = "zmk,input-module-mux";
		status = "okay";
		settings-key = "saa/module";
		default-profile = <SAA_MODULE_UNSPECIFIED>;

		profile_unspecified {
			profile-id = <SAA_MODULE_UNSPECIFIED>;
			display-name = "UNSPECIFIED";
		};

		profile_key {
			profile-id = <SAA_MODULE_KEY>;
			display-name = "KEY";
			capabilities = <ZMK_INPUT_MODULE_CAP_KSCAN>;
		};

		profile_encoder {
			profile-id = <SAA_MODULE_ENC>;
			display-name = "ENC";
			capabilities = <ZMK_INPUT_MODULE_CAP_ENCODER>;
		};

		profile_joystick {
			profile-id = <SAA_MODULE_JOY>;
			display-name = "JOY";
			capabilities = <(ZMK_INPUT_MODULE_CAP_ADC | ZMK_INPUT_MODULE_CAP_ENCODER)>;
		};

		profile_trackball {
			profile-id = <SAA_MODULE_TB>;
			display-name = "TB";
			capabilities = <ZMK_INPUT_MODULE_CAP_SPI>;
		};

		profile_touchpad {
			profile-id = <SAA_MODULE_TPD>;
			display-name = "TPD";
			capabilities = <ZMK_INPUT_MODULE_CAP_I2C>;
		};
	};

	vbatt: vbatt {
		io-channels = BATTERY_CHANNEL;
		power-gpios; // unset
		output-ohms = <470000>;
		full-ohms = <(1000000 + 470000)>;
		// For Ni-Mh 1U
		mv-to-pct-thresholds = <1100 1150 1200 1220 1240 1260 1280 1300 1320 1350 1400>;
	};
};

&adc {
	status = "okay";
};
